*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'arial', sans-serif;
    color: #133;
    line-height: 1.6;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


#main-header{
    background-color: #133;
    color: #fff;
    padding: 20px 0;
}


#main-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    font-size: 24px;
    font-weight: bold;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}


nav ul li a:hover {
    color: #f4a60f;
}


nav ul li a:active {
    color: #f4a60f;
}